*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300; }
  body a {
    text-decoration: none; }
  body ul, body ol {
    list-style: none; }

.container {
  display: grid;
  grid-template-rows: 90vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  @media only screen and (max-width: 1000px) {
    .container {
      grid-template-rows: 8rem 85vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 800px) {
    .container {
      grid-template-rows: 8rem 90vh repeat(6, min-content); } }

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

h2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  h2 .h2--light {
    color: #f9f7f6; }
  h2 .h2--dark {
    color: #54483A; }

h3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

h4 {
  font-size: 1.8rem; }

.h4--light {
  color: #f9f7f6; }

.h4--dark {
  color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 5rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }
  @media only screen and (max-width: 1000px) {
    .sidebar {
      grid-column: 1/ -1;
      grid-row: 1 / 2;
      display: flex;
      justify-content: flex-end;
      align-items: center; } }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  display: block;
  margin: 4rem auto; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.5rem); }
  @media only screen and (max-width: 1000px) {
    .nav-btn {
      margin-right: 3rem; } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem 4rem;
  grid-column: full-start / col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 800px) {
    .header {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 600px) {
    .header {
      padding: 3rem; } }
  .header__logo {
    height: 3rem; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-gap: 2rem;
    font-size: 1.6rem;
    color: #aaa; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: #aaa; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 800px) {
    .realtors {
      grid-column: 1/-1;
      grid-row: 3/4; } }
  .realtors h3 {
    text-align: center;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 800px) {
      .realtors h3 {
        display: none; } }
  .realtors__list {
    margin: 3rem auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3rem; }
    @media only screen and (max-width: 800px) {
      .realtors__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content; } }
    @media only screen and (max-width: 600px) {
      .realtors__list {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr; } }
  .realtors__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    align-items: center; }
    .realtors__item .realtors__img {
      max-width: 7rem;
      max-height: 7rem;
      border-radius: 50%;
      display: block; }
    .realtors__item .realtors__detail p {
      color: #aaa;
      font-size: 1.2rem;
      text-transform: uppercase; }

.features {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem; }
  .features .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2.5rem;
    align-items: start; }
    .features .feature .feature__icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: #c69963;
      grid-row: 1/3; }
    .features .feature h2 {
      font-size: 1.8rem;
      margin-bottom: 2rem; }
    .features .feature p {
      font-size: 1.4rem; }

.story__pictures {
  background-color: #c69963;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg");
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 800px) {
    .story__pictures {
      grid-column: 1/-1;
      padding: 6rem; } }
  .story__pictures .story__img-1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 800px) {
      .story__pictures .story__img-1 {
        grid-column: 1/5;
        grid-row: 1/-1; } }
  .story__pictures .story__img-2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 10;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 800px) {
      .story__pictures .story__img-2 {
        grid-row: 1/-1;
        width: 100%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; }
  @media only screen and (max-width: 800px) {
    .story__content {
      grid-column: 1/-1;
      grid-row: 5/6; } }
  .story__content > p {
    font-size: 1.5rem;
    font-style: italic; }
  .story__content .btn {
    align-self: center; }

.homes {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.5rem; }
  .home_img {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3; }
  .home__like {
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem; }
  .home__name {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: rgba(16, 29, 44, 0.8);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }

.btn-home {
  grid-column: 1/3; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1/3;
    grid-column: 1/3; }
  .gallery__item--2 {
    grid-row: 1/4;
    grid-column: 3/6; }
  .gallery__item--3 {
    grid-row: 1/3;
    grid-column: 6/7; }
  .gallery__item--4 {
    grid-row: 1/3;
    grid-column: 7/9; }
  .gallery__item--5 {
    grid-row: 3/6;
    grid-column: 1/3; }
  .gallery__item--6 {
    grid-row: 4/6;
    grid-column: 3/5; }
  .gallery__item--7 {
    grid-row: 4/5;
    grid-column: 5/6; }
  .gallery__item--8 {
    grid-row: 3/5;
    grid-column: 6/8; }
  .gallery__item--9 {
    grid-row: 3/6;
    grid-column: 8/9; }
  .gallery__item--10 {
    grid-row: 6/8;
    grid-column: 1/2; }
  .gallery__item--11 {
    grid-row: 6/8;
    grid-column: 2/4; }
  .gallery__item--12 {
    grid-row: 6/8;
    grid-column: 4/5; }
  .gallery__item--13 {
    grid-row: 5/8;
    grid-column: 5/8; }
  .gallery__item--14 {
    grid-row: 6/8;
    grid-column: 8/9; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 6rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-1rem); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }
