// Colors
$color-grey-light: #F2F2F2;
$color-grey-light-1: #B2B2B2;
$color-grey-light-2: #B6B6B6;
$color-grey-medium: #A2A2A2;
$color-grey-normal: #6B6B6B;
$color-grey-dark: #393E47;
$color-white: #fff;

$color-red-normal: #D7002B;
$color-red-light: #DE2627;
$color-red-dark: #D50129;

$color-orange-light: #EF6C0C;
$color-orange-dark: #E43D00;

$font-display: Helvetica, Arial, sans-serif;

// Responsive breakpoint
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 800px;