*, 
x::after, 
x::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 10px by default */

  @include respond(tab-land) {  // Width < 1200px
    font-size: 56.25%;  // 1rem = 16*56.25% = 9px
  }
  
  @include respond(tab-port) {  // width < 900px
    font-size: 50%; // 1rem = 8px
  }
  // When two rules are conflicting in media query, the later will be applied.

  @include respond(big-desk) {
    font-size: 75%;   // 1rem = 16*75% = 12px
  }
}
body {
  box-sizing: border-box;
  padding: 2.5rem;
  @include respond(tab-land) {
    padding: 0;
  }

  @include respond(big-desk) {
    padding: 4rem;
  }
}

::selection {
  background-color: $color-primary-light;
  color: $color-white;
}